# coding: utf-8

"""
    VxRail Host Management

    APIs for host management  # noqa: E501

    OpenAPI spec version: 7.0.240
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from vxrail_ansible_utility.api_client import ApiClient


class HostInformationApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def v4_hosts_get(self, **kwargs):  # noqa: E501
        """Get a list of VxRail hosts (v4)  # noqa: E501

        Retrieve a list of VxRail hosts and their associated subcomponent information. Version v4 adds drive configuration and BOSS card information.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v4_hosts_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[HostV4]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v4_hosts_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.v4_hosts_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def v4_hosts_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get a list of VxRail hosts (v4)  # noqa: E501

        Retrieve a list of VxRail hosts and their associated subcomponent information. Version v4 adds drive configuration and BOSS card information.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v4_hosts_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[HostV4]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v4_hosts_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v4/hosts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[HostV4]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v4_hosts_sn_get(self, sn, **kwargs):  # noqa: E501
        """Get information about a host (v4)  # noqa: E501

        Retrieve information about a specific host and its associated subcomponents. Version v4 adds drive configuration and BOSS card information.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v4_hosts_sn_get(sn, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sn: The serial number of the node that you want to update. (required)
        :return: HostV4
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v4_hosts_sn_get_with_http_info(sn, **kwargs)  # noqa: E501
        else:
            (data) = self.v4_hosts_sn_get_with_http_info(sn, **kwargs)  # noqa: E501
            return data

    def v4_hosts_sn_get_with_http_info(self, sn, **kwargs):  # noqa: E501
        """Get information about a host (v4)  # noqa: E501

        Retrieve information about a specific host and its associated subcomponents. Version v4 adds drive configuration and BOSS card information.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v4_hosts_sn_get_with_http_info(sn, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sn: The serial number of the node that you want to update. (required)
        :return: HostV4
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sn']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v4_hosts_sn_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'sn' is set
        if ('sn' not in params or
                params['sn'] is None):
            raise ValueError("Missing the required parameter `sn` when calling `v4_hosts_sn_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'sn' in params:
            path_params['sn'] = params['sn']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v4/hosts/{sn}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='HostV4',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
